/* container */
.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* botao */
.botao {
  font-size: 16px;
  transition: background 0.3s;
  display: inline-block;
  padding: 10px 18px;
  background: linear-gradient(var(--cor-p1), var(--cor-p2));
  transition: background 0.3s;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font: 600 1rem/1.35 "Poppins", sans-serif;
  max-width: max-content;
  border: none;
  cursor: pointer;
}

.botao:hover {
  background: linear-gradient(#243c93, #29429c);
}

.btn a {
  color: var(--cor-13);
}

/* parceiros */
.item-carrosel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  transition: transform 0.3s ease-in-out;
}

/* parceiros */
.item-carrosel img {
  height: 60px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: var(--cor-13);
  border-radius: 8px;
  border: 2px solid var(--cor-3);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.item-carrosel:hover {
  transform: scale(1.05);
}

.item-carrosel img:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  border-color: var(--cor-p1);
}

@media (max-width: 680px) {
  .owl-stage {
    margin-bottom: 0 !important;
  }
}

@media (max-width: 430px) {
  .owl-stage {
    margin-bottom: 0 !important;
  }
}
