.owl-stage {
  margin-bottom: 60px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  transition: transform 0.3s ease-in-out;
}

.item img {
  height: 60px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: var(--cor-13);
  border-radius: 8px;
  border: 2px solid var(--cor-3);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.item:hover {
  transform: scale(1.05);
}

.item img:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  border-color: var(--cor-p1);
}

@media (max-width: 628px) {
  .item-carrosel img {
    width: 100% !important;
  }
  .item-carrosel img:hover {
    box-shadow: none;
  }
}

@media (max-width: 425px) {
  .item-carrosel img {
    width: 100% !important;
  }
  .item-carrosel img:hover {
    box-shadow: none;
  }
}
