.sessao-wrapper {
  width: 100%;
  background: var(--cor-16);
  padding: 30px 0;
}

.sessao {
  display: flex;
  gap: 20px;
  margin-top: 40px;
  color: var(--cor-13);
}

.coluna-direita {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.coluna-direita h1 {
  margin-bottom: 15px;
  text-shadow: 3px 3px 2px rgba(255, 255, 255, 0.3);
}

.decoracao-home-setores::after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  margin-top: 8px;
  background-color: var(--cor-p2);
  transition: width 0.4s ease-in-out;
}

.decoracao-home-setores:hover::after {
  margin-top: 8px;
  width: 40%;
}

.coluna-direita p {
  font-size: 1.135rem;
  line-height: 1.8;
  margin-bottom: 15px;
  text-align: justify;
  color: var(--cor-4);
}

.coluna-esquerda {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagem-maior {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  padding: 3px;
  background: var(--cor-10);
}

.linha-imagens {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.linha-imagens img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  background: var(--cor-10);
  padding: 3px;
  margin-bottom: 50px;
}

@media (max-width: 1024px) {
  .coluna-direita h1 {
    font-size: 2.3rem;
  }
  .decoracao-home-setores::after {
    content: "";
    display: block;
    width: 17%;
    height: 4px;
    background-color: var(--cor-p2);
    transition: width 0.4s ease-in-out;
  }
  .decoracao-home-setores:hover::after {
    width: 38%;
  }
  .coluna-direita p {
    font-size: 1.1rem;
  }
}

@media (max-width: 800px) {
  .sessao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .coluna-direita {
    order: 1;
  }
  .coluna-direita h1 {
    text-align: left;
    font-size: 2rem;
  }
  .coluna-direita p {
    font-size: 1.2rem;
  }
  .coluna-esquerda {
    order: 2;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .imagem-maior {
    max-width: 100%;
    margin-top: 20px;
  }
  .sessao-wrapper {
    margin-bottom: -40px;
  }
  .linha-imagens {
    grid-template-columns: repeat(2, 1fr);
  }
  .linha-imagens img {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .decoracao-home-setores::after {
    content: "";
    display: block;
    width: 25%;
    height: 4px;
    background-color: var(--cor-p2);
    transition: width 0.4s ease-in-out;
  }
  .decoracao-home-setores:hover::after {
    width: 78%;
  }
}

@media (max-width: 630px) {
  .coluna-direita h1 {
    font-size: 1.525rem;
  }
  .coluna-direita p {
    font-size: 1.125rem;
  }
  .coluna-direita a {
    font-size: 1rem;
  }
  .sessao-wrapper {
    margin-bottom: -40px;
  }
  .linha-imagens img {
    margin-bottom: 0;
  }
}

@media (max-width: 425px) {
  .coluna-direita h1 {
    font-size: 1.325rem;
  }
  .decoracao-home-setores::after {
    content: "";
    display: block;
    width: 30%;
    height: 2px;
    margin-top: 2px;
    background-color: var(--cor-p2);
    transition: width 0.4s ease-in-out;
  }
  .decoracao-home-setores:hover::after {
    width: 98%;
  }
  .coluna-direita p {
    font-size: 0.975rem;
  }
  .coluna-direita a {
    font-size: 0.875rem;
  }
}
