.nossa-historia {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin-top: 50px;
  padding: 50px 20px;
  gap: 20px;
  padding-bottom: 140px;
}

.nossa-historia .titulo-historia {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-right: 30px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.decoracao-empresa-historia::after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: var(--cor-p2);
  transition: width 0.4s ease-in-out;
}

.decoracao-empresa-historia:hover::after {
  width: 70%;
}

.nossa-historia .subtitulo-historia {
  max-width: 800px;
  text-align: justify;
  font-size: 1.135rem !important;
  line-height: 1.8;
}

@media (max-width: 800px) {
  .nossa-historia {
    flex-direction: column;
    align-items: baseline;
    gap: 15px;
    margin-top: 0;
    padding-bottom: 70px;
  }

  .titulo-historia {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: left;
  }

  .nossa-historia .subtitulo-historia {
    font-size: 1.1rem !important;
  }

  .nossa-historia .titulo-historia::after {
    content: "";
    display: block;
    width: 99px;
    height: 3px;
    background-color: var(--cor-p2);
    transition: width 0.4s ease-in-out;
  }

  .nossa-historia .titulo-historia:hover::after {
    width: 99%;
  }

  .nossa-historia .subtitulo-historia {
    max-width: 100%;
  }
}

@media (max-width: 630px) {
  .nossa-historia {
    padding-bottom: 35px;
  }
  .titulo-historia {
    font-size: 1.525rem;
  }
  .nossa-historia .subtitulo-historia {
    font-size: 1rem !important;
  }
  .nossa-historia .titulo-historia::after {
    height: 1.9px;
  }
}

@media (max-width: 425px) {
  .titulo-historia {
    font-size: 1.325rem !important;
  }
  .nossa-historia .subtitulo-historia {
    font-size: 0.975rem !important;
  }
  .nossa-historia .titulo-historia::after {
    height: 1.9px;
  }
}
